<h1>Welcome to Recipe Page </h2>
  <h2><%= @recipe.name %></h2>
<h3><%= @recipe.ingredients %></h3>
<h3><%= @recipe.cook_time %></h3>
<a href="/recipes/<%=@recipe.id%>/delete"> Delete this recipe </a>
</form>
